<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<p style="color: #8a6d3b" align="center">
    <strong>
        <b>


            <a href="/" class="btn btn-info"style="width: 100%;"><strong><b>home</b> </strong> </a><br>
            <a href="/product"class="btn btn-info"style="width: 100%;"><strong> <b>product</b></strong> </a><br>
            <a href="/oder"class="btn btn-info"style="width: 100%;"> <strong><b>oder</b></strong></a><br>
            <a href="/pormotions"class="btn btn-info"style="width: 100%;">  <strong> <b>pormotions </b></strong></a><br>
            <a href="/dtp" class="btn btn-info" style="width: 100%;"> <strong> <b>shop</b></strong></a>
            <a href="/login" class="btn btn-info" style="width: 100%"><strong><b>login</b></strong></a>

        </b>
    </strong>
</p>
    <!--
    <div class="btn-group" >
        <button type="button" class="btn btn-primary" >อาหาร</button><br>
        <button type="button" class="btn btn-primary">ฟิตเน็ต</button><br>
        <button type="button" class="btn btn-primary">กีฬา</button><br>
        <button type="button" class="btn btn-primary">ขนม</button><br>
        <button type="button" class="btn btn-primary">เสื้อผ้า</button><br>
        <button type="button" class="btn btn-primary">เครื่องสำอาง</button><br>
        <button type="button" class="btn btn-primary">ของเล่น</button><br>
        <button type="button" class="btn btn-primary">แม่และเด็ก</button>

    </div>
    -->
