<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<table class="table table-primary">
    <tr>
        <th><h3>สินค้า</h3></th> <th><h3>ราคา</h3></th> <th><h3>จำนวน</h3></th>
    </tr>
    <tr>
        <th>แว่นตากันน้ำ</th>
        <th>150</th>
        <th>1</th>
    </tr>
    <tr>
        <th>เข็มขัด</th>
        <th>190</th>
        <th>1</th>
    </tr>

    <tr>
        <th>ม้แหุงข้าว</th>
        <th>590</th>
        <th>1</th>
    </tr>

    <tr>
        <th>สายชาร์จมือถือ</th>
        <th>200</th>
        <th>1</th>
    </tr>

    <tr>
        <th>ผ้าเช็ดตัว</th>
        <th>199</th>
        <th>1</th>
    </tr>


</table>
<div class="container-fluid">
  <div class="col-sm-10">
    <div class="alert alert-success">
        <strong>ส่งฟรี!</strong> เมื่อซืื้อสินค้าตั้งแต่ &nbsp;99บาท &nbsp;ขึ้นไป
    </div>
  </div>
    <div class="col-sm-2">
        <h2> ราคารวม</h2><h2> 1,329</h2>


        <button type="button" class="btn btn-info"><strong> <h4> จ่ายแบบเก็บเงินปลายทาง</h4> </strong></button><br>
    </div>
</div>