
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="btn-group">
                <button type="button" class="btn btn-info" href=""><strong><h3>ผู้หญิง</h3> </strong></button>
                <button type="button" class="btn btn-info"><strong><h3>ผู้ชาย</h3> </strong></button>
                <button type="button" class="btn btn-info"><strong><h3>กีฬา</h3> </strong></button>
                <button type="button" class="btn btn-info"><strong><h3>เครื่องครัว</h3> </strong></button>
                <button type="button" class="btn btn-info"><strong><h3>หนังสือ</h3> </strong></button>
                <button type="button" class="btn btn-info"><strong><h3>อุปกรณ์แต่งรถ</h3> </strong></button>
                <button type="button" class="btn btn-info"><strong><h3>เทคโนโลยี</h3> </strong></button>
                <button type="button" class="btn btn-info"><strong><h3>บ้านและสวน</h3> </strong></button>
                <button type="button" class="btn btn-info"><strong><h3>สำหรับสัตว์เลี้ยง</h3> </strong></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><img src="/assets/images/Lady1.jpg" width="200px" height="200px"><h3>น้ำหอมจากประเทศฝรั่งเศส</h3>
            แบรนสินค้าชันนำ &nbsp; ราคา 350฿
            <button type="button" name="kapuo" value="350">  สั่งซื้อ</button> </div>
            <div class="col-sm-3"><img src="/assets/images/Lady2.jpg"width="200px" height="200px"><h3>กระเป๋า</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady3.jpg"width="200px" height="200px"><h3>กระเป๋า</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady12.jpg"width="200px" height="200px"><h3>ชุดเดรต</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><img src="/assets/images/Lady11.jpg"width="200px" height="200px"><h3>เสื้อผ้า</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady19.jpg"width="200px" height="200px"><h3>อายไลเนอร์</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady20.jpg"width="200px" height="200px"><h3>รองเท้า</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady21.jpg"width="200px" height="200px"><h3>รองเท้า</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><img src="/assets/images/Lady10.jpg"width="200px" height="200px"><h3>รองเท้า</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady4.jpg"width="200px" height="200px"><h3>ผ้ามัดผม</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady5.jpg"width="200px" height="200px"><h3>กระเป๋าสะพายข้าง</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady6.jpg"width="200px" height="200px"><h3>กระเป๋าสะพายข้าง</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><img src="/assets/images/Lady18.jpg"width="200px" height="200px"><h3>อายไลเนอร์</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady7.jpg"width="200px" height="200px"><h3>รองเท้า</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady8.jpg"width="200px" height="200px"><h3>รองเท้า</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady9.jpg"width="200px" height="200px"><h3>รองเท้า</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
        </div>

        <div class="row">
            <div class="col-sm-3"><img src="/assets/images/Lady17.jpg"width="200px" height="200px"><h3>ลลิฟสติก</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady13.jpg"width="200px" height="200px"><h3>ชุดกีะโปง</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady14.jpg"width="200px" height="200px"><h3>ชุดไปงานเลี้ยง</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
            <div class="col-sm-3"><img src="/assets/images/Lady15.jpg"width="200px" height="200px"><h3>เสื้อกันหนาว</h3>
                สินค้านำเข้าจากต่างประเทศ&nbsp;ราคา500฿</div>
        </div>


    </div>