<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>


    <div class="container-fluid">


        <div class="row">
            <div class="alert alert-success">
                 <strong> <h2> sele &nbsp;30% เมื่อซืื้อสินค้าครบ &nbsp;900</h2></strong>
            </div>
            <div class="alert alert-success">
                <strong> <h2> สำหรับลูกค้าที่ซื้อครั้งแรกครบ &nbsp;500 &nbsp; บาท &nbsp; ขึ้นไป &nbsp; รับส่วนลด50%</h2></strong>
            </div>

    </div>




    </div>





</body>