@(p1:Dataprod,p2:Dataprod,p3:Dataprod,p4:Dataprod,p5:Dataprod,p6:Dataprod)
<div class="container-fluid">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-group">
        <div  class="panel panel-primary">
            <div class="panel-heading">@p1.getName()</div>
            <div class="panel-body"style="color: #2aabd2">
                id:@p1.getId()<br>
                name:@p1.getName()<br>
                brand:@p1.getBrand()<br>
                number:@p1.getNumber()<br>
                price:@p1.getPrice()<br>
            </div>
        </div><!--สินค้า1-->
        <div  class="panel panel-primary">
            <div class="panel panel-heading">@p2.getName()</div>
            <div class="panel panel-body "style="color: #2aabd2">
                id:@p2.getId()<br>
                name:@p2.getName()<br>
                brand:@p2.getBrand()<br>
                number:@p2.getNumber()<br>
                price:@p2.getPrice()<br>
            </div>
        </div><!--สินค้า2-->
        <div class="panel panel-primary">
            <div class="panel-heading">@p3.getName()</div>
            <div class="panel-body"style="color: #2aabd2">
                id:@p3.getId()<br>
                name:@p3.getName()<br>
                brand:@p3.getBrand()<br>
                number:@p3.getNumber()<br>
                price:@p3.getPrice()<br>
            </div>
        </div><!--สินค้า3-->
        <div  class="panel panel-primary">
            <div class="panel-heading">@p4.getName()</div>
                <div class="panel-body"style="color: #2aabd2">
                id:@p4.getId()<br>
                name:@p4.getName()<br>
                brand:@p4.getBrand()<br>
                number:@p4.getNumber()<br>
                price:@p4.getPrice()<br>
            </div>
        </div><!--สินค้า4-->
            <div  class="panel panel-primary">
                <div class="panel-heading">@p5.getName()</div>
                <div class="panel-body"style="color: #2aabd2">
                id:@p5.getId()<br>
                name:@p5.getName()<br>
                brand:@p5.getBrand()<br>
                number:@p5.getNumber()<br>
                price:@p5.getPrice()<br>
            </div>
        </div><!--สินค้า5-->
            <div  class="panel panel-primary">
                <div class="panel-heading">@p6.getName()</div>
                <div class="panel-body"style="color: #2aabd2">
                id:@p5.getId()<br>
                name:@p5.getName()<br>
                brand:@p5.getBrand()<br>
                number:@p5.getNumber()<br>
                price:@p5.getPrice()<br>
            </div>
        </div><!--สินค้า6-->

    <div class="col-sm-2"></div>
    </div>
</div>
</div>